.navbar{
    display: flex;
    justify-content: space-between;
    width: 99%;
    img:nth-child(2){
        &:hover{
            cursor: pointer;
        }
    }
    
}
$breakpoint-tablet :992px;
@media screen and (max-width: $breakpoint-tablet) {
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 99%;
        img:nth-child(2) {
            background: none;
            position: relative;
            left: 23rem;
            top: 0rem;
          }
        
    }
}

$breakpoint-mobile :480px;
@media screen and (max-width: $breakpoint-mobile) {
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 99%;
        img:nth-child(2) {
            background: none;
            position: relative;
            left: 49rem;
            top: 0rem;
          }
        
    }
}