footer{
    position: relative;
    top: 240rem;
    left: -10rem;
    height: 9rem;
    // background: red;
    display: flex;
    justify-content: space-between;
    gap: -15rem;
    margin: auto;
    width: 80rem;
    img{
        transform: scale(1);
        height: 4rem;
        width: 10.2rem;
        background: none;
        &:hover{
            cursor: pointer;
        }
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        background: none;
        width: 36px;
        height: 36px;
        margin-left: -10rem;
        // left: 1233px;
        // top: 461px;
        &:hover{
            cursor: pointer;
        }
      }
}

$breakpoint-tablet: 992px;
@media screen and (max-width: $breakpoint-tablet) {
  footer {
    // display: flex;
    img{
        margin-left: 13rem;
    }

    .social-icons{
        position: relative;
        left: -12rem;
        top: -.5rem;
        display: flex;
        width: 10rem;
        .t{
            margin-left: 4rem;
        }
        
        
    }
    
  }
}