@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/axiforma');
@import url('http://fonts.cdnfonts.com/css/tt-norms-pro');
body, * {
  background-color: black;
  margin: 1rem;
  padding: 0;
  height: auto;
  box-sizing: border-box;

}

